.form-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-container label{
width: 50%;
}

.side-by-side{
    display: flex;
}

.error{
    color: red;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
