*{
    padding: 0;
    margin: 1%;
    box-sizing: border-box;
}

.spot-container{
    list-style-type: none;
}

img{
    width: 100%;
    border-radius: 10px;
}

.upper-details{
    display: flex;
    justify-content: space-between;
}

.spot-name{
position: relative;
z-index: 1;
bottom: 12em;
visibility: hidden;
color: whitesmoke;
border: solid 1px rgba(0, 0, 0, 0.556);
background-color: rgba(0, 0, 0, 0.688);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 4px;
text-align: center;
padding: 1px;
width: 50%;
margin: auto;
}


.tiles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2%;
    margin-top: 3em;
}

.Link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* HOVER AND EFFECTS */
img:hover{
    cursor: pointer;
}

.tooltip-container:hover .spot-name{
visibility: visible;
cursor: pointer;
}

.font-size{
    font-size: larger;
}

.hover:hover{
    transform: scale(1.2);
}
