.rating-input .filled {
  color: palevioletred;
}

.rating-input .empty {
  color: pink;
}

.row {
  display: flex;
}

.width {
  width: 20%;
}

.full {
  width: 100%;
}

.inner-container{
  width: 30%;
  text-align: justify;
  background-color: rgba(128, 128, 128, 0.073);
  padding: 1em;
  border-radius: 6px;
}
