
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar{
  border-bottom:1px solid grey;
  display: flex;
  justify-content: space-between;
  list-style-type: none
}

.no-dot{
  list-style: none;
}

.logo {
  height: 8em;
  width: 8em;

}
