
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar{
  border-bottom:3px solid grey;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  width: 100%;
  border-bottom-style: dotted;
}

.no-dot{
  list-style: none;
}

.logo {
  height: 100%;
  width: 6em;

}

.profile-button{
  width: 5em;
  height: 3em;
  border-radius: 3em;
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.menu-box{
  background-color: rgb(249, 239, 225);
  padding: 1em;
  border-radius: 1em;
  text-align: center;
}

.red{
  background-color: rgb(255, 157, 173);
  padding: 0.5em;
  border: 2px solid gray;
  border-radius: 6px;
}

.menu-link{
  color: palevioletred;
}

.menu-link:hover{
  text-shadow:1px 1px 2px grey;
}
