
.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-bar{
  border-bottom:1px solid grey;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  height: 4em;
  width: 100%;
}

.no-dot{
  list-style: none;
}

.logo {
  height: 100%;
  width: 8em;

}

.profile-button{
  width: 5em;
  height: 3em;
  border-radius: 3em;
}
